* {
  margin: 0;
  font-family: cursive;
  background-color: #fff5fa; }

main {
  padding: 0px 40px;
  display: flex;
  flex-direction: column; }
  main h2 {
    text-align: center;
    text-decoration: underline; }
  main section .brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    main section .brands .item-brand {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px;
      min-width: 157px;
      max-width: 200px; }
      main section .brands .item-brand img {
        max-width: 100%;
        max-height: 100%;
        height: auto; }
  main .catalogo {
    align-items: center; }
    main .catalogo h1 {
      text-align: center; }
    main .catalogo .category img {
      display: block;
      margin: auto;
      max-width: 295px; }
    main .catalogo .syam .category img {
      max-width: 220px; }
    main .catalogo .card-product-container {
      display: flex;
      margin-top: 30px;
      flex-wrap: wrap;
      max-width: 1200px; }
      main .catalogo .card-product-container .card-product {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        max-width: 400px;
        min-width: 200px;
        height: 420px; }
        main .catalogo .card-product-container .card-product p {
          text-align: center;
          font-size: 24px; }
        main .catalogo .card-product-container .card-product .body {
          padding: 20px;
          overflow: hidden;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center; }
          main .catalogo .card-product-container .card-product .body img {
            height: auto;
            width: 100%;
            max-width: 100%;
            max-height: 100%; }

footer .contact-info-container {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
  flex-wrap: wrap; }
  footer .contact-info-container .contact-info-section {
    min-width: 250px;
    margin: 20px 0; }
    footer .contact-info-container .contact-info-section fieldset {
      display: flex;
      align-items: center;
      height: 100%; }

footer .copyright-container p {
  text-align: center; }

footer .social-media ul {
  display: flex;
  list-style-type: none; }
  footer .social-media ul li a img {
    width: 45px;
    height: 45px;
    padding: 2px; }
