footer{
    .contact-info-container{
        display: flex;
        justify-content: space-evenly;
        margin: 40px;
        flex-wrap: wrap;
        .contact-info-section{
            min-width: 250px;
            margin: 20px 0;
            fieldset{
                display: flex;
                align-items: center;
                height: 100%;
                    }
                }
            }
            .copyright-container{
                p{
                    text-align: center;
                }
            }
            .social-media{
                ul{
                    display: flex;
                    list-style-type: none;
                    li{
                        a{
                            img{
                                width: 45px;
                                height: 45px;
                                padding: 2px; 
                            }
                        }
                    }
                }
            }
        }