main{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
        text-decoration: underline;
    }
    section{
        .brands{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
             .item-brand{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 130px;
                min-width: 157px;
                max-width: 200px;
                 img{
                    max-width: 100%;
                    max-height: 100%;
                    height: auto;
                 }
             }
        }
        .ali-daticos-title{
            text-align: center;
            text-decoration: underline;
            font-family: cursive;
            font-size: 180%;
        }
.ali-daticos-text{
    font-family: cursive;
    border: solid 3px;
    text-align: center;
}
.video{
    display: flex;
    flex-direction: column;
    text-align: center;
    div{ 
        margin-bottom: 20px;
    }
}
.nosotros_title{
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    font-size: large;
}
    }
    .nosotros_texto{
        font-family: cursive;
        border: solid 3px;
    }
    .catalogo{
        align-items: center;
        h1{
            text-align: center;  
                    }
        .category{
            img{
                display: block;
                margin: auto;
                max-width: 295px; 
            }
        }
        .syam{
            .category{
                img{
                    max-width: 220px;
                }
                
            }
        }
        .card-product-container{
            display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        max-width: 1200px;
        .card-product{
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;
            max-width: 400px;
            min-width: 200px;
            height: 420px;
            p{
                text-align: center;
                font-size: 24px; 
            }
             .body{
                img{
                    height: auto;
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                }
                padding: 20px;
                overflow: hidden;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center         
         }
        }
        }
        }
        
        .table-product{
            border-collapse: collapse;
    border: 1px solid;
    td{
tr{
    border: 3px solid;
    text-align: left;
    height: 30px;
    .item-product{
        display: flex;
        padding: 15px;
    }
}
    }
        }
                }
.table-overflow{
    overflow: auto;
}
.title-font {
    font-family: cursive;
    text-align: center;
}

@media only screen and (max-width: 425px) {

    header {
        align-items: unset;
    }

    nav.menu ul {
        display: block;
    }

    header #imagen_principal img {
        max-width: 339px;
    }
}
